*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial;
}
body{
  background: #F5FEFF;
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 650px;
  width: 100%;
  background: #00A0DF;
  padding: 25px;
  border-radius: 5px;
}
.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}
.wrapper p{
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: black;
}
.wrapper .input_field{
  margin-bottom: 10px;
}
.wrapper .input_field input[type="text"]{
  border: 1px;
  width: 100%;
  padding: 10px;
}
.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #10607F;
  color: white;
  font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}
#error{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}